/*===== BASE WIDGET VARIABLES =====*/
@base-background-color: #fff;

/*===== BASE FONT VARIABLES =====*/
@font-family-sans-serif: Arial, Helvetica, sans-serif;
@font-size-base: 12px;
@base-font-color: #444;
@base-font-color-light: lighten(@base-font-color, 26.5%);
@base-font-color-dark: darken(@base-font-color, 6.5%);

/*===== LETTER GRADE VARIABLES =====*/
@grade-primary-background: #43baff;
@grade-primary-color: #8ed6ff;
@grade-active-color: #fff;
@grade-excellent-background: #389800;
@grade-good-background: #90be3f;
@grade-fair-background: #fc3;
@grade-poor-background: #bf2f37;
@grade-bad-background: darken(#bf2f37, 10%);
@grade-big-size: 35px;
@grade-small-size: 15px;

@header-background: #f2f2f2;
@header-title-color: #333;
@header-title-font: bold 12px Arial, Helvetica, sans-serif;

// Breakpoints
@screen-xs: 250px;
@screen-sm: 480px;
@screen-md: 710px;

@container-sm: 100%;
@container-md: 100%;