.arrow-right{
  border-bottom: 4px solid transparent;
  border-left: 7px solid @brand-primary;
  border-top: 4px solid transparent;
  height: 0;
  width: 0;
}

.arrow-down{
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  border-top: 7px solid @brand-primary;
  height: 0;
  width: 0;
}