.edm-widget{
  background: @base-background-color;
  border: 1px solid #aaa;
  .border-radius(5px);
  color: @base-font-color;
  min-width: @screen-xs;
  overflow: hidden; // It was made to crop the header background. If it causes any bugs in the future, it should be deleted.
}



















.edmunds-says{
  .rating-bar{
    padding: 10px;
  }
  .content{
    .pros{
      h4{
        color: #444;
        margin-bottom: 10px;
        background: url(../img/icon-pros.png) no-repeat;
        padding-left: 20px;
      }
    }
    .cons{
      h4{
        color: #444;
        margin-bottom: 10px;
        background: url(../img/icon-cons.png) no-repeat;
        padding-left: 20px;
      }
    }
    ul{
      list-style: none;
      padding: 0;
      font-size: 12px;
      color: #444;
    }
    .rating-summary{
      h4{
        margin-bottom: 5px;
      }
    }
  }
}
h4{
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 0;
}

hr{
  margin: 0 10px;
}

.rating-title{
  .close-button{
    background: url("../img/icon-close.png") no-repeat;
    width: 16px;
    height: 16px;
    float: right;
    cursor: pointer;
    margin: 5px 10px 0 0;
  }
  .arrow-right{
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-left: 5px solid;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    color: #00a6e4;
    float: right;
    margin: 7px 10px 6px 10px;
  }
  .category{
    float: left;
    color: #333333;
    font-size: 12px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 23px;
  }
  .text-grade{
    color: #999999;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    width: 60px;
    text-align: right;
    line-height: 23px;
  }
}

.rating-tab{
  .content{
    .description{
      color: #444;
      font-size: 12px;
      padding: 10px;
    }
  }
}
.edmunds-rating-strips{
  padding: 10px;
  p{
    margin: 10px 0;
    font-size: 11px;
    color: #444;
  }
  .strip{
    background: #000;
    display: inline-block;
    background: url(../img/strip_excellent.png) no-repeat;
    width: 87px;
    height: 7px;
    margin: 0 7px;
    &.good{
      background: url(../img/strip_good.png) no-repeat;
    }
  }
}