// FOOTER TO THE BOTTOM OF THE PAGE
html,
body{
  height: 100%;
}
.footer-to-the-bottom{
  height: 100%;
  margin-bottom: -40px;
}

// MAIN STYLES
.edm-widget{
  background: @base-background-color;
  border: 1px solid #aaa;
  .border-radius(3px);
  color: @base-font-color;
  min-width: @screen-xs;
  height: 630px;
  overflow: hidden; // It was made to crop the header background. If it causes any bugs in the future, it should be deleted.
  @media screen and (min-width: @screen-sm){
    height: 630px;
  }
  @media screen and (min-width: @screen-md){
    height: 530px;
  }
  p{
    margin: 0;
  }
  .content {
    height: 400px;
    overflow: auto;
    @media screen and (min-width: @screen-sm){
      height: 469px;
    }
    @media screen and (min-width: @screen-md){
      height: 378px;
    }
  }
}

.btn-primary-dark{
  background: @brand-primary-dark;
  border: none;
  margin-top: 25px;
  .border-radius(5px);
  &:hover{
    background: darken(@brand-primary-dark, 3%);
  }
}

h4{
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 0;
}