.list-style-id{
  margin: 5px 0;
  .btn{
    .border-radius(4px);
    background: transparent;
    border: 1px solid transparent;
    color: @base-font-color-dark;
    overflow: hidden;
    padding: 2px 25px 2px 8px;
    text-align: left;
    text-overflow: ellipsis;
    &:first-child{
      margin-left: -9px;
    }
    &:hover,
    &:focus,
    &:active{
      #gradient > .vertical-three-colors(#fff; #dbdbdb; 85%; #efefef);
      .box-shadow;
      border-color: #999;
    }
    .arrow-down{
      border-top-color: lighten(@base-font-color, 6.5%);
      display: inline-block;
      margin-left: 10px;
      position: absolute;
      top: 8px;
      right: 8px;
      vertical-align: middle;
    }
    & > span{
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 200px;
    }
  }
  .dropdown-menu{
    left: -9px;
    max-width: 235px;
    li a{
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}