.rating-selector{
  &.btn.dropdown-toggle{
    .border-radius(4px);
  }
  .border-radius(4px);
  .clearfix;
  #gradient > .vertical-three-colors(#fff; #dbdbdb; 85%; #efefef);
  border: 1px solid #aaa;
  line-height: 20px;
  margin-bottom: 15px;
  .box-shadow;
  &:hover{
    cursor: pointer;
  }
  .arrow-right{
    float: right;
    margin: 6px 10px;
  }
  .category{
    color: @base-font-color-dark;
    float: left;
    font-weight: bold;
  }
  .text-grade{
    color: @base-font-color-light;
    float: right;
  }
}