.rating-selector{
  .border-radius(4px);
  .clearfix;
  #gradient > .vertical-three-colors(#fff; #dbdbdb; 85%; #efefef);
  border: 1px solid #aaa;
  line-height: 20px;
  margin-bottom: 15px;
  .box-shadow;
  &:hover{
    cursor: pointer;
  }
  .arrow-right{
    float: right;
    margin: 6px 10px;
  }
  .category{
    color: @base-font-color-dark;
    float: left;
    font-weight: bold;
  }
  .text-grade{
    color: @base-font-color-light;
    float: right;
  }
}
/*
.content{
  padding: 10px 0;
}
.rating-tab{
  .rating-summary{
    height: 125px;
    overflow-y: auto;
    line-height: 17px;
  }
}
.rating-summary{
  color: #535353;
  p{
    font-size: 12px;
  }
}*/
