.big-stars{
  background: #0075b8;
  height: 20px;
  margin: 17px 10px 18px 0;
  width: 100px;
  float: left;
  .clearfix;
  .star{
    background: url(../img/star.png) no-repeat;
    float: left;
    height: 20px;
    width: 20px;
  }
  .rating-strip{
    width: 100%;
    background: #92d000;
    height: 20px;
  }
}
.small-stars{
  background: #999;
  height: 10px;
//  margin: 17px 10px 18px 0;
  width: 50px;
  float: left;
  .clearfix;
  .star{
    background: url(../img/star_small.png) no-repeat;
    float: left;
    height: 10px;
    width: 10px;
  }
  .rating-strip{
    width: 100%;
    background: #92d000;
    height: 10px;
  }
}