/*.rating-bar{
  color: #fff;
  font-size: 11px;
  line-height: 17px;
  margin-bottom: 10px;
  .rating{
    padding-bottom: 10px;
    padding-top: 10px;
    .edmunds-rating{
      margin-left: 50px;
      .text-grade{
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
    .edmunds-grade-separator{
      background: url(../img/edmunds_rating.png) no-repeat;
      width: 153px;
      height: 20px;
      float: left;
      margin: 9px 9px 0;
    }
  }
  .test-drive-date{
    float: right;
    padding-bottom: 11px;
    padding-top: 10px;
    border-left: 1px solid #4dc1ff;
    width: 82px;
  }
  .vehicle-info-container{
    background: #e5e5e5;
    color: #555;
    font-weight: bold;
    padding-bottom: 10px;
    padding-top: 10px;
  }
}*/ /*note: Uncomment this code after refactoring*/






.rating-bar{
  color: #fff;
  font-size: 11px;
  line-height: 17px;
  padding: 0;
  p{
    margin-bottom: 0;
  }
  .rating{
    .clearfix;
    padding: 10px 10px 0;
    margin-right: 85px;
    .edmunds-grade-separator{
      background: url(../img/edmunds_rating.png) no-repeat;
      width: 153px;
      height: 20px;
      float: left;
      margin: 9px;
    }
    .edmunds-rating{
      margin-left: 50px;
      .text-grade{
        text-transform: uppercase;
        font-weight: bold;
        font-size: 14px;
      }
    }
  }
  .test-drive-date{
    padding: 10px;
    width: 85px;
    border-left: 1px solid #4dc1ff;
  }
}
.vehicle-info-container{
  background: #e5e5e5;
  padding: 10px;
  color: #555;
  font-weight: bold;
  font-size: 11px;
  line-height: 17px;
  margin-bottom: 10px;
  p{
    margin: 0;
  }
}
