.rating-bar{
  color: #fff;
  font-size: 11px;
  line-height: 17px;
  padding: 0;
  p{
    margin-bottom: 0;
  }
  .rating{
    padding: 10px 10px 0;
    margin-right: 85px;
    .edmunds-grade-separator{
      background: url(../img/edmunds_rating.png) no-repeat;
      width: 153px;
      height: 20px;
      float: left;
      margin: 9px;
    }
    .edmunds-rating{
      margin-left: 50px;
      .text-grade{
        text-transform: uppercase;
        font-weight: bold;
        font-size: 14px;
      }
    }
  }
  .test-drive-date{
    padding: 10px;
    width: 85px;
    border-left: 1px solid #4dc1ff;
  }
}
.vehicle-info-container{
  background: #e5e5e5;
  padding: 10px;
  color: #555;
  font-weight: bold;
  font-size: 11px;
  line-height: 17px;
  p{
    margin: 0;
  }
}
//.vehicle-info{
//  width: 230px;
//  background: #e5e5e5;
//  padding: 10px;
//  color: #555;
//  font-weight: bold;
//}