.tco-tab{
  .content{
    height: 370px;
    padding-top: 0;
    padding-bottom: 0;
    @media screen and (min-width: @screen-sm) {
      height: 435px;
    }
    @media screen and (min-width: @screen-md) {
      height: 285px;
    }
  }
  .rating-container{
    padding-bottom: 10px;
    padding-top: 10px;
    p{
      width: 88px;
      line-height: 1;
      margin: 6px 0;
      padding: 0 5px;
    }
    .btn-primary{
      height: 25px;
      margin: 5px 0;
      display: block;
      line-height: 14px;
      padding: 5px 15px;
      background: #0070bf;
    }
  }
  .table > tfoot > tr > td{
    border: none;
    font-weight: bold;
  }
  .table > thead > tr > th{
    border: none;
    font-weight: bold;
    text-align: right;
    padding: 5px 0;
    font-size: 14px;
  }
  table tr td{
    padding: 5px 0;
    font-size: 14px;
    text-align: right;
  }
  table tr td:first-child{
    text-align: left;
  }
  table tbody{
    border: none;
  }
  table tbody td{
    border: none;
  }
  h4 {
    font-size: 14px;
    margin: 15px 0;
  }
  .rating-selector{
    padding: 0 10px;
    .arrow-right{
      margin-right: 0;
    }
  }
  .zip-code{
    margin: 5px 0;
    .form-control{
      height: 25px;
      padding: 5px;
      width: 55px;
      text-align: center;
    }
  }
}