.tco-tab{
  .rating-container{
//    background: @brand-primary;
    padding-bottom: 10px;
    padding-top: 10px;
    p{
      width: 88px;
      line-height: 1;
      margin: 6px 0;
      padding: 0 7px;
    }
    .btn-primary{
      height: 25px;
      margin: 5px 0;
      display: block;
      line-height: 14px;
      padding: 5px 17px;
      background: #0070bf;
    }
  }
  .zip-code{
    margin: 5px 0;
    .form-control{
      height: 25px;
      padding: 5px;
      width: 55px;
      text-align: center;
    }
  }
}